/spring-boot-jaxrs/target/
/spring-boot-jaxrs-linking/target/
/spring-boot-jaxrs-auto/target/
/spring-boot-jaxrs-auto-links/target/
/spring-boot-jaxrs-cxf/target/
/spring-boot-jaxrs-cxf-schema/target/
/spring-boot-webmvc/target/
/weld-cxf-jaxrs/target/
